<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Test</title>
     
</head>
<body>
     <main>
          <header>Bienvenue Chez Gaël</header>
          <p>Ici, votre PC est entre de bonnes mains!</p>
          <p>
               Il sera chouchouté, monté et mis en fonction 
               <br>
               tout ça rapidement et pour peu cher (comparé aux
               <br>
               grandes entreprises qui facturent 100e le montage!)
          </p>
          <button>Voir des exemples ></button>
     </main>

     <section class="preconf">
          <h1>Découvrez les PC pré-Configurés </h1>
          <p> Vous n'y connaissez rien ? Prennez le temps de 
               découvrir les PC confectionnés par mes soins pour 
               vos besoins !
          </p>

          <div class="pureperf">
               <p>Pure Performances</p>
               <img src="" alt="">
          </div>

          <div class="lesimple">
               <p>Le Simple</p>
               <img src="" alt="">
          </div>

          <div class="lepremierpc">
               <p>Le Premier PC</p>
               <img src="" alt="">
          </div>

          <div class="leversatile">
               <p>Le Versatile</p>
               <img src="" alt="">
          </div>

          <div class="lebureau">
               <p>Le Bureau</p>
               <img src="" alt="">
          </div>
     </section>

     <section class="services">
          <p>Mes Services:</p>
          <div class="montage">
               <p>Montage et Assistance PC</p>
               <p>
                    Vous avez peur de tout casser en montant votre premier 
                    PC? Vous avez un problème matiériel ou logiciel?
                    Je suis votre homme !  En plus de tout vous 
                    expliquer pour que vous soyez des experts, vous saurez
                    faire face à vos problèmes de PC tout seul ! 
               </p>
          </div>
          <div class="nettoyage">
               <p>Nettoyage de PC</p>
               <p>
                    Votre chat a fait un gros calin à votre PC 
                    qui est maintenant plein de poils de chats ? 
                    Pas de panique, je possède de
                    l'air magique (de l'air comprimé) 
                    qui saura résoudre tous vos problèmes ! 
                    Et grâce à mon outil spécial (un clavier) je
                    pourrais optimiser votre PC Windows 
                    (si vous êtes sous Linux vous n'avez 
                    probablement pas besoin de moi) !
               </p>
          </div>
          <div class="conseil">
               <p>Conseils et Build</p>
               <p>Vous n'avez aucune idée de comment un PC fonctionne
                    mais vous voulez vous faire plaisir (ou faire
                    plaisir à quelqu'un), pas de soucis ! 
                    Je vous fournirai une liste complete de quoi acheter,
                    ou l'acheter, comment l'acheter et viendrai vous le monter !
               </p>
          </div>

     </section>
     <section class="prixmainpage">
          <h1>Tout ça pour...</h1>
          <h2>20e.</h2>
          <p>20e par prestation. Oui, c'est tout. 100e chez les 
               concurrents ? J'aime ce que je fais, je vous fait 
               ce que fais ! 
          </p>
          <button>Commander</button>
     </section>
     

     
</body>
</html>